
.data{
    background-color: #00000000;
    color: white;
    font-family: Inter;
    font-weight: 500;
    font-size: 15px;
    border: none;
}

.resultados{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 24px 1.5rem;
}
.resultados h2{
    color:#47474D;
    flex-grow: 5;
}
.resultados button{
    width: 25px;
    height: 25px;
    background-color: #00000000;
    border: none;
    background-image: url(../../Img/Filtro.png);
    background-repeat: no-repeat;
    background-position: center center;
}
.resultados p{
    flex-grow: 2;
}


